/*-------font style-----------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
 }

 nav {
     display: flex;
     justify-content: space-between;
     margin: 2rem;

 }

 .nav-menu ul {
     display: flex;
     margin-left: 1rem;
    
 } 

 .nav-menu > ul > li {

        list-style: none;

 }

 .nav-menu > ul > li > a {
    text-decoration: none;
    justify-content: space-between;
    color: black;
    padding: 5px;
    margin-right: 1.5rem;
    display: inline;
  
 }

 
 /*--------------------------
   first section
   -----------------------*/


   section {
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 10px;
    font-size: 1.1rem;
}
.half-width img {
    width: 80%;
   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(207, 10, 69), rgb(161, 9, 80));
    color: white;
    font-weight:700px ;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
}
.top-banner {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    padding-left: 60px;
    margin-left: 10px;

}


/*-----------------------------
 co-logo
 ------------------------*/



 .logo {
 
    border: .1px solid rgb(228, 218, 218);

   margin-left: 7.5rem;
    padding: 3px;
   
    
    
}

 .logo img {
     width: 120px;
     margin-left: 10px;
     padding-right: 12px;
     justify-content: center;
     align-items: center;

 }

  /*---------------------------
 collection-----------------------*/

 .popular {

    width: 850px;
    padding: 5px;
    margin-left: 100px;

}


.popular-text > h2 {

   align-items: center;
  margin-left: 500px;
}
.collection {
    border: 5px solid white;
    background-color: white;
    margin-right: 10px;
    max-height: 94%;
   
}

.collec-img img {

    padding: 10px;
    
    
}
.collec-text  {
    padding: 10px;
   
}
    

.popular-collection {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-row-gap: 5px;
    gap: 1rem;
}
.see > h3 > a {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    color: rgb(245, 59, 26);
    margin-right: 13rem;
    margin-bottom: 10rem;
    padding: 2px;
    gap: 5px;
}

.footer {
  
    background-color: rgb(1, 1, 51);
    color: #fff;
    padding: 1.3rem;
}

.in-pro {
    margin-left: 500px;
}


.footer-text {
   margin-left: 500px;
}

/*---------------font-awesome---------------*/
.fa-star {
   color: orangered;
}

ul {
   list-style: none;
   display: flex
}

.social-icon {
   height: 70px;
   width: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 27px;
   cursor: pointer
}



